@import "../Vars.scss";

.button-link {
  text-decoration: none;
}

button {
  background-color: $secondary-color;
  color: $text-color;
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 0.2rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.7rem;
  white-space: nowrap;
  height: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: $main-font;
}

button:hover {
  transition: all 0.35s;
  background-color: $secondary-color-hover;
}

button:focus {
  outline: none;
}

.arrow {
  margin-left: 1rem;
}
