@import "../Vars.scss";
@import "../Media.scss";

header {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
  box-shadow: 0px 6px 16px 0px #00000059;
  position: sticky;
  top: 0;
}

header img {
  cursor: pointer;
}

.logo-img {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  font-size: 1.4rem;
  color: $text-color;
  font-family: $main-font;
  font-weight: 700;
  padding: 0rem 3.2rem 0rem 3.2rem;
}

.download-cv {
  text-decoration: none;
  font-size: 1.4rem;
  color: $main-color;
  background-color: $text-color;
  font-weight: 700;
  font-family: $main-font;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  border-radius: 2rem;
}

@media only screen and (max-width: 600px) {
  .download-cv {
    display: none;
  }
}