// Fonts
$main-font: var(--font-montserrat);
$secondary-font: var(--font-open-sans);

// Colors
$main-color: #1b1b1b;
$secondary-color: #6a1cfb;
$secondary-color-hover: #6a1cfbbe;
$text-color: #f4f4f4;
$text-color-hover: #f4f4f4ad;
$text-title-color: #7930ff;
$chromatica: #ec0092;
$laser-beam-border-desktop: #723afbc9;
$laser-beam-border-mobile: #713afbce;

// Adding css variables
// :root {
//   --header-height: controlled-by-js-on-render;
// }
