@import "./Vars.scss";
@import "./Media.scss"; // -> Este es el archivo que contiene los media query's

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $main-color;
}